<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd">
 
 
 <bean   class="com.Apurva.Springcore.CI.Addition" name = "add">
 
 <constructor-arg type="double" index="1">
      <value>30.21</value>
     
 </constructor-arg>
 <constructor-arg type="double" index="0">
      <value>40.11</value>
 </constructor-arg>
 </bean>
 
 </beans>